.App {
  text-align: center;

}

.book-display{
  display: grid;
  align-content:center;
  
}

.book-card{
  border-color:red;
  border-style: double;
  width: 350px;
  height: 700px;
  }

.book-images{
  width: 310px;
  height: 310px;
  padding: 10px;
  
}

.images{
  width: 300px;
  height:300px;
}


.book-info{
border-style: groove;
border-color: blue;
bottom: 10px;
text-align:center;
height: 50%;
}

