.App {
  text-align: center;
  
}
/* .book-display{
  display: flex;
} */
.book-images{
  width: 100px;
  height: 100px;
  padding: 10px;
}
.images{
  width:100px;
  height:100px;
}
.book-card{
  border-color:red;
  border-style: double;
  width:290px;
  height: 500px;
  display:flex;
  flex-direction: column;
}

.book-display{
  display:inline;
  flex-direction: row;
}

